{#
/**
 * @file
 * Theme override to display an 'ALV' node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'clearfix',
    'py-4'
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <a class="btn btn-primary mb-4" href="/documenten">&larr; Alle Documenten</a>

  {% if content.field_notulen|render %}
    <div class="alv-card shadow-sm rounded-3 p-4 mb-4 bg-white border">
      {{ content.field_notulen }}
    </div>
  {% endif %}

  {% if content.field_uitnodiging_en_agenda|render %}
    <div class="alv-card shadow-sm rounded-3 p-4 mb-4 bg-white border">
      {{ content.field_uitnodiging_en_agenda }}
    </div>
  {% endif %}

  {# Logic to traverse previous meeting minutes #}
  {% if not node.field_notulen_vorige_vergadering.isEmpty() %}
    <div class="alv-card shadow-sm rounded-3 p-4 mb-4 bg-white border">
      <div class="field__label">Notulen vorige vergadering</div>
      <div class="field__item">
        {% for item in node.field_notulen_vorige_vergadering %}
          {% set prev_alv = item.entity %}
          
          {% if prev_alv.field_notulen %}
            {% for media_item in prev_alv.field_notulen %}
              {% set media_entity = media_item.entity %}
              {% if media_entity.field_media_document %}
                 {% for file_item in media_entity.field_media_document %}
                    {% set file = file_item.entity %}
                    <span class="file file--mime-application-pdf file--application-pdf d-block mb-2">
                      <a href="{{ file_url(file.uri.value) }}" type="application/pdf" target="_blank" rel="noopener">
                        {{ file.filename.value }}
                      </a>
                    </span>
                 {% endfor %}
              {% endif %}
            {% endfor %}
          {% else %}
             <div class="small text-muted">Nog geen notulen beschikbaar voor {{ prev_alv.label }}</div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if content.field_ingekomen_stukken|render %}
    <div class="alv-card shadow-sm rounded-3 p-4 mb-4 bg-white border">
      {{ content.field_ingekomen_stukken }}
    </div>
  {% endif %}

  {% if content.field_relevante_stukken|render %}
    <div class="alv-card shadow-sm rounded-3 p-4 mb-4 bg-white border">
      {{ content.field_relevante_stukken }}
    </div>
  {% endif %}

  {{ content|without('field_date', 'field_categorie', 'field_notulen', 'field_uitnodiging_en_agenda', 'field_notulen_vorige_vergadering', 'field_ingekomen_stukken', 'field_relevante_stukken') }}

</article>